# dependencies
node_modules/

# env files (VERY IMPORTANT)
.env
.env.*
!.env.example

# logs
logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# build files
dist/
build/

# IDE files
.vscode/
.idea/

# misc
*.tmp